	.uno{
		background-color: white;
	}
	.dos{
		width: 100%; 
		height: auto;  
		position: absolute; 
		top:0%; 
		left: 0%; 
		background-color: #031298; 
		/*background: -webkit-linear-gradient(top, #ababab, white);
		background: -moz-linear-gradient(top, #ababab, white);*/
	}
	.tres{
		width:960px; 
		height: auto;  
		margin: 0 auto 0 auto;
	}
	.cuatro{
		float: left; 
		width: auto; 
		height: auto;  
		margin: 10px;
	}
	.cinco{
		width:230px; 
		height:250px; 
		border-radius: 10px 10px 10px 10px;
	}
	.seis{
		float: right; 
		width: 650px; 
		height: 150px; 
		background: -webkit-linear-gradient(top, #dcdcdc, white);
		background: -moz-linear-gradient(top, #dcdcdc, white);
		margin: 35px 0px 10px 10px; 
		text-align: center; 
		border-radius: 10px 10px 10px 10px;
	}
	.siete{
		font-family: Cambria; 
		font-size: 30px; 
	}
	.ocho{
		font-family: Cambria; 
		font-size: 20px; 
	}
	.nueve{
		float: right; 
		width: 650px; 
		height: 10px; 
		background-color: blue; 
		background: -webkit-linear-gradient(top, blue, white);
		background: -moz-linear-gradient(top, blue, white);
		border-radius: 10px 10px 10px 10px;
		margin: 10px 0px 10px 10px; 
		text-align: center;
	}
	.diez{
		float: right; 
		width: 500px; 
		height: 10px; 
		background-color: red; 
		background: -webkit-linear-gradient(top, red, white);
		background: -moz-linear-gradient(top, red, white);
		border-radius: 10px 10px 10px 10px;
		margin: 5px 0px 10px 10px; 
		text-align: center;
	}
	.once{
		clear:both;
	}
	.doce{
		width:960px; 
		height: auto; 
		margin: 0 auto 0 auto; 
		margin-top: 260px; 
		border-radius: 10px 10px 10px 10px; 
		background-color:silver;
		/*background: -webkit-linear-gradient(top, white, #ababab);
		background: -moz-linear-gradient(top, #dcdcdc, white);*/
	}
	.trece{
		width: 100%; 
		height: 10px; 
		background-color: #fff;
	}
	.catorce{
		width: 380px; 
		height: auto;  
		margin: 50px 20px 20px 20px; 
		float:left; 
		border-radius: 10px 10px 10px 10px;
		
	}
	.quince{
		font-family: Cambria; 
		font-size: 18px; 
		margin: 0px;
	}
	.dieciseis{
		font-family: Cambria; 
		font-size: 16px; 
		margin: 10px; 
		text-align: left;
	}
	.diecisiete{
		font-family: Cambria; 
		font-size: 18px; 
		margin: 30px 0px 0px 0px;
	}
	.dieciocho{
		font-family: Cambria; 
		font-size: 16px; 
		margin: 10px; 
		text-align: left;
	}
	.diecinueve{
		width: 500px; 
		height: 330px; 
		background-color: #fff; 
		margin: 20px; 
		float:right; 
		border-radius: 10px 10px 10px 10px;
	}
	.veinte{
		font-family: Cambria; 
		font-size: 20px; 
		margin: 10px;
	}
	.veintiuno{
		margin: 50px 10px 10px 120px; 
		text-align: center; 
		font-family: Cambria; 
		font-size: 16px;
	}
	.veintidos{
		font-family: Cambria; 
		font-size: 16px; 
		width: 150px;
	}
	.veintitres{
		font-family: Cambria; 
		font-size: 16px; 
		width: 150px;
	}
	.veinticuatro{
		font-family: Cambria; 
		font-size: 14px;
	}
	.veinticinco{
		clear:both;
	}
	.veintiseis{
		width: 100%; 
		height: auto;  
		position: relative; 
		bottom: 0%; 
		left: 0%;
	}
	.veintisiete{
		width:960px; 
		height: auto;  
		margin: 0 auto 0 auto; 
		text-align: right; 
		font-family: Cambria; 
		font-size: 16px;
	}
	.tabla01{
	position:relative;
	left:45px;
	
	}